.logo {
    width: 20%;
    border-radius: 20%;
    margin-top: 2%;
    margin-bottom: 2%;
    cursor: pointer;
    animation: fade-in 2s linear 1;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
  }