@import "./index.css";

ul {
   width: 60%;
   list-style-type: none;
   background: var(--section);
   border-radius: 20px;
   font-size: var(--md);
   color: var(--text);
   box-sizing: content-box;
   margin-top: 1vh;
   margin-bottom: 1vh ;
   padding: 1%;
   box-shadow:0 5px 50px rgba(32,35,41,.25);
}

.ToDoItem {
    box-sizing: border-box;
    padding: 2%;
    display: flex;
    margin:2%;
    justify-content: space-between;
    align-items: center;
    border: solid var(--background);
    border-radius: 20px;
}
.ToDo-p {
    text-align: left;
    width: 70%;
    margin: 1%;
}

.ToDo-p--complete {
    text-decoration: line-through;
  }

span {
    display: grid;
}

.done-container-check:hover .Icon-svg {
    fill: green;
  }
  .delete-container-delete:hover .Icon-svg {
    fill: red;
  }